* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
img {
  height: 100%;
  max-width: 100%;
}
/* .body {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
} */
.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  /* border: 2px solid blue; */
}
.container {
  width: 100%;
  margin: auto;
  /* border: 2px solid orange; */
}

.main-section {
  height: 100vh;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .container {
    /* max-width: 70%; */
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .container {
    max-width: 50%;
  }
  .profile {
    width: 100%;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
